**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando la PSL (Python Standard Library). En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [9]:
###__test__
import csv

with open('customer',    'r') as f: customer    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('employee',    'r') as f: employee    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('family',      'r') as f: family      = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2000',   'r') as f: order2000   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2001',   'r') as f: order2001   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2002',   'r') as f: order2002   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2003',   'r') as f: order2003   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2004',   'r') as f: order2004   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2005',   'r') as f: order2005   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2006',   'r') as f: order2006   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2007',   'r') as f: order2007   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2008',   'r') as f: order2008   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2009',   'r') as f: order2009   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2010',   'r') as f: order2010   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2011',   'r') as f: order2011   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2012',   'r') as f: order2012   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2013',   'r') as f: order2013   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2014',   'r') as f: order2014   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2015',   'r') as f: order2015   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('order2016',   'r') as f: order2016   = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('orderdetail', 'r') as f: orderdetail = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('product',     'r') as f: product     = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))
with open('supplier',    'r') as f: supplier    = list(csv.reader(f, delimiter=',', quoting=csv.QUOTE_NONNUMERIC))

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

In [10]:
ssn=[z[4] for  z in employee[1:]]
print(ssn[1])
print(ssn[5])
print(ssn[7])

496-99-2998
323-35-2171
496-24-5751

# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail`.

In [11]:
print(len(employee[1:]))
print(len(product[1:]))
print(len(orderdetail[1:]))

50
146
25946

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [12]:
def f(departamento):
    depart= [z[3] for z in employee[1:] if z[3] == departamento]
    return print(len(depart))

In [13]:
###__test__
f("Accounting")
f("Advertising")
f("Asset Management")
f("Media Relations")
f("Sales and Marketing")

4
3
3
1
21

# Problema 4

Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [14]:
cumple=[z[8] for z in employee[1:]]
cumple1=[z1.replace('+', '-') for z1 in cumple]
cumple2=[z.split('-') for z in cumple1]
cumple3=sorted([z[1] for z in cumple2])

u=[]
for x,y in enumerate(cumple3):
    if y not in u:
        c = 0
        for z in cumple3:
            if y== z: c += 1
        print(str(y) + " " + str(c))
        u.append(y)

1969 2
1970 2
1971 5
1972 1
1973 1
1974 1
1975 2
1976 4
1977 3
1978 1
1979 5
1980 4
1981 2
1982 2
1983 1
1984 2
1985 3
1986 3
1987 1
1988 3
1990 2

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [15]:
city=sorted([z[6] for z in employee[1:]])
u=[]
for x,z in enumerate(city):
    if z not in u: u.append(z)

for z in u:
    print(z)

BELLEFONTE
BLAINE
BURNS FLAT
CEDAR HILL
CHANCELLOR
CHARLOTTESVILLE
CHESHIRE
COPELAND
FT MITCHELL
GARRISON
GRANDVIEW
MANISTIQUE
MONTCLAIR
PAWCATUCK
RIDGEFIELD
RUIDOSO
SANTA BARBARA
SARASOTA
TALLASSEE
TAWAS CITY
TEHACHAPI
TERRA
WINTER HAVEN

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [16]:
ciudad=sorted([z[6] for z in employee[1:]])

u=[]
for x,y in enumerate(ciudad):
    if y not in u:
        c = 0
        for z in ciudad:
            if y== z: c += 1
        print(str(y) + " " + str(c))
        u.append(y)

BELLEFONTE 3
BLAINE 1
BURNS FLAT 2
CEDAR HILL 2
CHANCELLOR 2
CHARLOTTESVILLE 1
CHESHIRE 1
COPELAND 5
FT MITCHELL 1
GARRISON 2
GRANDVIEW 2
MANISTIQUE 2
MONTCLAIR 3
PAWCATUCK 4
RIDGEFIELD 1
RUIDOSO 1
SANTA BARBARA 2
SARASOTA 5
TALLASSEE 1
TAWAS CITY 2
TEHACHAPI 1
TERRA 3
WINTER HAVEN 3

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [17]:
ciudad=sorted([z[6] for z in employee[1:]])

u=[]
for x,y in enumerate(ciudad):
    if y not in u:
        c = len(ciudad)
        for z in ciudad:
            if y== z: c -= 1
        print(str(y) + " " + str(c))
        u.append(y)

BELLEFONTE 47
BLAINE 49
BURNS FLAT 48
CEDAR HILL 48
CHANCELLOR 48
CHARLOTTESVILLE 49
CHESHIRE 49
COPELAND 45
FT MITCHELL 49
GARRISON 48
GRANDVIEW 48
MANISTIQUE 48
MONTCLAIR 47
PAWCATUCK 46
RIDGEFIELD 49
RUIDOSO 49
SANTA BARBARA 48
SARASOTA 45
TALLASSEE 49
TAWAS CITY 48
TEHACHAPI 49
TERRA 47
WINTER HAVEN 47

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre.

In [18]:
def f(fullname):
    idempleado=[]
    idempleado=[z[1] for z in family if z[2]==fullname]
    return [z[2].split(' ')[0] for z in employee if z[1]==idempleado[0]][0]

In [19]:
###__test__
print(f('Jean Bailey'))
print(f('Berneice Neil'))
print(f('Mammie Montano'))
print(f('Nettie Beasley'))

Jermaine
Gerald
Matt
Bailey

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio.

In [20]:
def f(orderid):
    order = []
    order.extend(order2000[1:])
    order.extend(order2001[1:])
    order.extend(order2002[1:])
    order.extend(order2003[1:])
    order.extend(order2004[1:])
    order.extend(order2005[1:])
    order.extend(order2006[1:])
    order.extend(order2007[1:])
    order.extend(order2008[1:])
    order.extend(order2009[1:])
    order.extend(order2010[1:])
    order.extend(order2011[1:])
    order.extend(order2012[1:])
    order.extend(order2013[1:])
    order.extend(order2014[1:])
    order.extend(order2015[1:])
    order.extend(order2016[1:])

    norden=[z[3] for z in order if z[1]== orderid]
    return [z[2] for z in employee if z[1]==norden[0]][0]

In [21]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Christy Petry
Damaris Parry
Bailey Beasley

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó.

In [22]:
def f(orderid):
    order = []
    order.extend(order2000[1:])
    order.extend(order2001[1:])
    order.extend(order2002[1:])
    order.extend(order2003[1:])
    order.extend(order2004[1:])
    order.extend(order2005[1:])
    order.extend(order2006[1:])
    order.extend(order2007[1:])
    order.extend(order2008[1:])
    order.extend(order2009[1:])
    order.extend(order2010[1:])
    order.extend(order2011[1:])
    order.extend(order2012[1:])
    order.extend(order2013[1:])
    order.extend(order2014[1:])
    order.extend(order2015[1:])
    order.extend(order2016[1:])

    norden=[z[2] for z in order if z[1]== orderid]
    return [z[3] for z in customer if z[0]==norden[0]][0]

In [23]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Carmen Zimmerman
Theodore Pernell
Marilynn Laws

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él.

In [24]:
def f(orderid):
    empleadoid=[z[1] for z in employee if z[2]== orderid]
    order = []
    order.extend(order2000[1:])
    order.extend(order2001[1:])
    order.extend(order2002[1:])
    order.extend(order2003[1:])
    order.extend(order2004[1:])
    order.extend(order2005[1:])
    order.extend(order2006[1:])
    order.extend(order2007[1:])
    order.extend(order2008[1:])
    order.extend(order2009[1:])
    order.extend(order2010[1:])
    order.extend(order2011[1:])
    order.extend(order2012[1:])
    order.extend(order2013[1:])
    order.extend(order2014[1:])
    order.extend(order2015[1:])
    order.extend(order2016[1:])
    numorden=[z[3] for z in order if z[3]== empleadoid[0] ]
    return len(numorden)

In [25]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

238
225
270

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió.

In [26]:
def f(fullname):
   concat =[order2000, order2001, order2002, order2003, order2004, order2005, order2006, order2007, order2008, order2009, order2010, order2011, order2012, order2013, order2014, order2015, order2016]
   orden=[]
   for x in employee:
       if x[2] == fullname:
           idemp= x[1]
           for m in concat:
               for a in m:
                   if a[3] == idemp:
                       orden.append(a[1])
                       return(min(orden))

In [27]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

14.0
27.0
20.0

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden.

In [28]:
def f(orderid):
   total=0
   for x in orderdetail:
       if x[1] == orderid:
           quantity = x[4]
           price = x[5]
           total = total + quantity*price
   return(total)

In [29]:
###__test__
print(f(1))
print(f(2))
print(f(3))

2572.0
2979.0
9317.0

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [33]:
datos = [bdate[8] for bdate in employee[1:]] 
month=[x[9:11] for x in datos] 
print('Q1', month.count('01')+ month.count('02') + month.count('03'))
print('Q2', month.count('04')+ month.count('05') + month.count('06'))
print('Q3', month.count('07')+ month.count('08') + month.count('09'))
print('Q4', month.count('10')+ month.count('11') + month.count('12'))

Q1 16
Q2 9
Q3 14
Q4 11

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos.

In [31]:
def f(num):
    phone=[]
    phone.extend([z[6] for z in supplier[1:]])
    phone.extend([z[5] for z in customer[1:]])
    phone.extend([z[5] for z in employee[1:]])
    phonesplit=[z.split('-') for z in phone]
    grupo2=[z[1] for z in phonesplit if z[1]== num]
    return len(grupo2)

In [32]:
###__test__
print(f('1289'))
print(f('2345'))
print(f('4876'))

23
28
26

---