**Recuerde no agregar o quitar celdas en este notebook, ni modificar su tipo. Si lo hace, el sistema automaticamente lo calificará con cero punto cero (0.0)**

# Descripción

Esta tarea tiene como fin ayudarlo a profundizar sus conocimientos en programación con el lenguaje Python usando Pandas. En la siguiente celda importaré algunas librerias y leeré algunos archivos por usted.

In [2]:
###__test__
import pandas
customer    = pandas.read_table('customer',    sep = ',', decimal = '.')
employee    = pandas.read_table('employee',    sep = ',', decimal = '.')
family      = pandas.read_table('family',      sep = ',', decimal = '.')
order2000   = pandas.read_table('order2000',   sep = ',', decimal = '.')
order2001   = pandas.read_table('order2001',   sep = ',', decimal = '.')
order2002   = pandas.read_table('order2002',   sep = ',', decimal = '.')
order2003   = pandas.read_table('order2003',   sep = ',', decimal = '.')
order2004   = pandas.read_table('order2004',   sep = ',', decimal = '.')
order2005   = pandas.read_table('order2005',   sep = ',', decimal = '.')
order2006   = pandas.read_table('order2006',   sep = ',', decimal = '.')
order2007   = pandas.read_table('order2007',   sep = ',', decimal = '.')
order2008   = pandas.read_table('order2008',   sep = ',', decimal = '.')
order2009   = pandas.read_table('order2009',   sep = ',', decimal = '.')
order2010   = pandas.read_table('order2010',   sep = ',', decimal = '.')
order2011   = pandas.read_table('order2011',   sep = ',', decimal = '.')
order2012   = pandas.read_table('order2012',   sep = ',', decimal = '.')
order2013   = pandas.read_table('order2013',   sep = ',', decimal = '.')
order2014   = pandas.read_table('order2014',   sep = ',', decimal = '.')
order2015   = pandas.read_table('order2015',   sep = ',', decimal = '.')
order2016   = pandas.read_table('order2016',   sep = ',', decimal = '.')
orderdetail = pandas.read_table('orderdetail', sep = ',', decimal = '.')
product     = pandas.read_table('product',     sep = ',', decimal = '.')
supplier    = pandas.read_table('supplier',    sep = ',', decimal = '.')

# Problema 1

Imprima el valor del campo `ssn` (uno por línea) para los registros 2, 6 y 8 del archivo `employee`.

In [42]:
#print(employee.iloc[[1, 5, 7]]['ssn'])
#employee.loc[[1, 5, 7]]['ssn']
x= employee.ix[1, 'ssn']
y= employee.ix[5, 'ssn']
z= employee.ix[7, 'ssn']
print(x,"\n",y,"\n ",z)

496-99-2998
 323-35-2171
  496-24-5751

# Problema 2

Imprima el total de registros (uno por línea) para los archivos `employee`, `product` y `orderdetail`.

In [4]:
print(len(employee))
print(len(product))
print(len(orderdetail))

50
146
25946

# Problema 3

Escriba una función `f` que reciba el nombre de un departamento y cuente cuantos registros hay para dicho departamento en el archivo `employee`.

In [12]:
#def f(departamento):
    #return len(employee.loc[employee.groupby('department').groups[departamento]].head())
def f(departamento):
    return len(employee.loc[employee.groupby('department').groups[departamento]])

In [13]:
###__test__
print(f("Accounting"))
print(f("Advertising"))
print(f("Asset Management"))
print(f("Media Relations"))
print(f("Sales and Marketing"))

4
3
3
1
21

# Problema 4

Imprima una tabla con la cantidad de empleados nacidos por año, ordenada por año y un año por línea. Use un espacio en blanco para separar el año y la cantidad de personas; por ejemplo, '1969 2'.

In [47]:
y=list(employee.birthdate)
u=[]

for n in y:
   n[4:8].isdigit()
   u.append(n[4:8])


employee['año']=u
employee.head()

añocount = employee.groupby('año').count()['employee.id']
for x, y in enumerate(añocount.index):
   print(y + " " + str(añocount.values[x]))

1969 2
1970 2
1971 5
1972 1
1973 1
1974 1
1975 2
1976 4
1977 3
1978 1
1979 5
1980 4
1981 2
1982 2
1983 1
1984 2
1985 3
1986 3
1987 1
1988 3
1990 2

# Problema 5

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente y sin repetir ciudad. Imprima una ciudad por renglón.

In [7]:
a= employee.city.unique()
a.sort()
for n in a:
   print(n, end= '\n')

BELLEFONTE
BLAINE
BURNS FLAT
CEDAR HILL
CHANCELLOR
CHARLOTTESVILLE
CHESHIRE
COPELAND
FT MITCHELL
GARRISON
GRANDVIEW
MANISTIQUE
MONTCLAIR
PAWCATUCK
RIDGEFIELD
RUIDOSO
SANTA BARBARA
SARASOTA
TALLASSEE
TAWAS CITY
TEHACHAPI
TERRA
WINTER HAVEN

# Problema 6

Imprima una lista con las ciudades del archivo `employee` ordenadas alfabéticamente indicando cuántas veces aparece cada ciudad en el archivo. Imprima una ciudad por renglón. Separe la ciudad y la cantidad por un espacio en blanco; por ejemplo: 'BELLEFONTE 3'.

In [46]:
citycount = employee.groupby('city').count()['employee.id']
employeesize = employee.index.size
for x, y in enumerate(citycount.index):
   print(y + " " + str(citycount.values[x]))

BELLEFONTE 3
BLAINE 1
BURNS FLAT 2
CEDAR HILL 2
CHANCELLOR 2
CHARLOTTESVILLE 1
CHESHIRE 1
COPELAND 5
FT MITCHELL 1
GARRISON 2
GRANDVIEW 2
MANISTIQUE 2
MONTCLAIR 3
PAWCATUCK 4
RIDGEFIELD 1
RUIDOSO 1
SANTA BARBARA 2
SARASOTA 5
TALLASSEE 1
TAWAS CITY 2
TEHACHAPI 1
TERRA 3
WINTER HAVEN 3

# Problema 7

Imprima, por cada ciudad diferente del archivo `employee`, cuántos registros quedan si se eliminan todos los registros que contienen dicha ciudad. Imprima la lista ordenada alfabéticamente. Separe la ciudad y la cantidad usando un espacio en blanco; por ejemplo: `'BELLEFONTE 47'`.

In [45]:
citycount = employee.groupby('city').count()['employee.id']
employeesize = employee.index.size
for x, y in enumerate(citycount.index):
   print(y + " " + str(employeesize - citycount.values[x]))

BELLEFONTE 47
BLAINE 49
BURNS FLAT 48
CEDAR HILL 48
CHANCELLOR 48
CHARLOTTESVILLE 49
CHESHIRE 49
COPELAND 45
FT MITCHELL 49
GARRISON 48
GRANDVIEW 48
MANISTIQUE 48
MONTCLAIR 47
PAWCATUCK 46
RIDGEFIELD 49
RUIDOSO 49
SANTA BARBARA 48
SARASOTA 45
TALLASSEE 49
TAWAS CITY 48
TEHACHAPI 49
TERRA 47
WINTER HAVEN 47

# Problema 8

Escriba una función que reciba el nombre completo de un hijo (campo `fullname` del archivo `family`), y devuelva el primer nombre (`fullname`) del padre.

In [58]:
def f(fullname):
   z=list(family[family["fullname"]==fullname]["parent.id"])[0]
   return (list(employee[employee["employee.id"]==z]["fullname"])[0]).split(" ")[0]

In [59]:
###__test__
print(f('Jean Bailey'))
print(f('Berneice Neil'))
print(f('Mammie Montano'))
print(f('Nettie Beasley'))

Jermaine
Gerald
Matt
Bailey

# Problema 9

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del empleado que la atendio.

In [17]:
def f(orderid):
    ordenes = pandas.concat([order2000, order2001, order2002, order2003, order2004, order2005, order2006, order2007, order2008, order2009, order2010, order2011, order2012, order2013, order2014, order2015, order2016])
    e = employee.sort_values(['employee.id'], ascending = True)
    e = pandas.DataFrame(data = e, columns=['employee.id', 'fullname'])
    a = pandas.merge(ordenes, e, on = ['employee.id', 'employee.id'])
    z = a[a['order.id'] == orderid]
    z = z['fullname'].values
    return z[0]

In [18]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Christy Petry
Damaris Parry
Bailey Beasley

# Problema 10

Escriba una función que reciba el número de orden (`order.id`) y devuelva el nombre completo (`fullname`) del cliente que la solicitó.

In [50]:
def f(orderid):
   ordenes = pandas.concat([order2000, order2001, order2002, order2003, order2004, order2005, order2006, order2007, order2008, order2009, order2010, order2011, order2012, order2013, order2014, order2015, order2016])
   orden=ordenes[ordenes['order.id']== orderid]
   ordenid=list(orden['customer.id'])
   clienteid=customer[customer['customer.id']== ordenid]
   return clienteid['fullname'].values[0]

In [51]:
###__test__
print(f(309))
print(f(653))
print(f(996))

Carmen Zimmerman
Theodore Pernell
Marilynn Laws

# Problema 11

Escriba una función que reciba el nombre de un empleado (`fullname`) y retorne la cantidad de órdenes atendidas por él.

In [63]:
def f(fullname):
   ordenes = pandas.concat([order2000, order2001, order2002, order2003, order2004, order2005, order2006, order2007, order2008, order2009, order2010, order2011, order2012, order2013, order2014, order2015, order2016])
   empleado=employee[employee['fullname'] == fullname]
   idemple=list(empleado['employee.id'])
   orden=ordenes['employee.id'].value_counts()[idemple]
   return orden.values[0]

In [64]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

238
225
270

# Problema 12

Escriba una función que reciba el nombre de un empleado y retorne el valor mínino del campo `order.id` del total de ordenes que atendió.

In [65]:
def f(fullname):
   ordenes = pandas.concat([order2000, order2001, order2002, order2003, order2004, order2005, order2006, order2007, order2008, order2009, order2010, order2011, order2012, order2013, order2014, order2015, order2016])
   empleado=employee[employee['fullname'] == fullname]
   idemple=list(empleado['employee.id'])

   orden=ordenes[ordenes['employee.id']== idemple]
   minimo=orden.groupby('order.id').min()

   return minimo.values[0,0]

In [66]:
###__test__
print(f('Christy Petry'))
print(f('Gisela Strong'))
print(f('Ellis Ervin'))

14
27
20

# Problema 13

Escriba una función que reciba el `order.id` de una orden y retorne el cálculo del valor total de la orden.

In [60]:
def f(orderid):
   m=orderdetail[orderdetail["order.id"]==orderid]
   t=0
   for i in range(len(m)):
       t=t+(m.iloc[i,4]*m.iloc[i,5])
   return t

In [61]:
###__test__
print(f(1))
print(f(2))
print(f(3))

2572
2979
9317

# Problema 14

Imprima la cantidad de empleados que nacieron en cada uno de los trimestres (`Q1`, `Q2`, `Q3`, `Q4`) del año. Imprima un trimestre por reglón, separando las cantidades por un espacio en blanco. Por ejemplo: `'Q1 18'`.

In [62]:
p=employee["birthdate"].str[9:11]

Q1=0
Q2=0
Q3=0
Q4=0

for i in p:
   if (i=="01" or i=="02" or i=="03"):
       Q1=Q1+1
   elif (i=="04" or i=="05" or i=="06"):
       Q2=Q2+1
   elif (i=="07" or i=="08" or i=="09"):
       Q3=Q3+1
   elif (i=="10" or i=="11" or i=="12"):
       Q4=Q4+1
print("Q1" + " " + str(Q1))
print("Q2" + " " + str(Q2))
print("Q3" + " " + str(Q3))
print("Q4" + " " + str(Q4))

Q1 16
Q2 9
Q3 14
Q4 11

# Problema 15

Escriba una función que reciba un grupo de cuatro dígitos e imprima la cantidad de veces que aparece dicho número en el segundo grupo de dígitos de todos los números telefónicos.

In [15]:
supplier['phonem']=supplier.loc[:,'phone'].str[5:9]
phone1 = pandas.DataFrame(supplier['phonem'])
customer['phonem']=customer.loc[:,'phone'].str[5:9]
phone2 = pandas.DataFrame(customer['phonem'])
employee['phonem']=employee.loc[:, 'phone'].str[5:9]
phone3 = pandas.DataFrame(employee['phonem'])
phones = pandas.concat([phone1, phone2, phone3])
phones
def f(num):
    num = phones[phones['phonem'] == num]['phonem'].values
    return len(num)

In [16]:
###__test__
print(f('1289'))
print(f('2345'))
print(f('4876'))

23
28
26

---